.idea/
/dicom/pydicom
/dicom/test_files
/dicom/uncompress_dicom
/dicom/dcm
/dicom/QR
/monitorservice
*.pyc
/feel_u_own
/pelican
/flask
/PyTest/qrcode/*.jpg
/dicom/dcm/*.dcm
/tornado/demos
/opensource
/PyQt/BussinessCard/dist/*.exe
*.jpg
*.exe
dist
*.dcm
*.png
/twisted
*.rar
build
/XinDian/build
/scumer_blog
